.grid-container {
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-container {
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  .grid-container {
    height: 600px;
    width: 600px;
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: repeat(10,1fr);
    padding: 10px;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.flex-box{
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.938);
    /* background-color: transparent; */
    border: 1px solid #000000cc;
    /* padding: 20px; */
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    cursor: pointer;
  }
  .flex-box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .flex-box >  input,button{
    margin: 0 10px 0 0;
  }
  #flagsLeft{
    color: white;
  }

  #result{
    color: white;
  }
